@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
}

body {
   background-color: hsl(223, 19%, 93%);
   padding: 20px 0;
   min-height: 100vh;
}

@layer components {
   /* 
   COMMENT CARD
   */

   .comment-card {
      @apply mb-5 bg-white flex items-start gap-5 rounded-xl p-5;
   }

   .score-control {
      @apply items-center gap-3 p-3 rounded-lg bg-slate-100;
   }

   /* 
   COMMENT CARD
   */

   .btn {
      @apply flex items-center gap-2 font-bold;
   }
}
